*.class
*.log
*.lock
.build.gradle.swp
*.ctb~*
~$*

# Directories #
**/build/
*/bin/
*/target/
logs/
.gradle/
**/out/

# Intellij idea project files:
.idea/
*.iml
# OS Files #
.DS_Store
 

# Package Files #
*.jar
*.war
*.ear
*.db
 
######################
# Windows
######################
 
# Windows image file caches
Thumbs.db 
 
# Folder config file
Desktop.ini
 
######################
# OSX
######################
 
.DS_Store
.svn
 
# Thumbnails
._*
 
# Files that might appear on external disk
.Spotlight-V100
.Trashes
